apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kubedp
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: kube
    spec:
      containers:
      - name: kubeci
        image: registry.gitlab.com/lliivvss/messing-around-w-kube:lastest
        imagePullPolicy: Always
        ports:
          - containerPort: 3000
        imagePullSecrets:
        - name: gitlab-registry
      serviceAccount: default
---
apiVersion: v1
kind: Service
metadata:
  name: kubesvc
spec:
  ports:
  - port: 3000
    protocol: TCP
    name: http
  selector:
    app: kube
  type: LoadBalancer

